<a href="https://colab.research.google.com/github/Poojariyaa/EMPOWERING-IOT-CYBER-ATTACKS-USING-MACHINE-LEARNING/blob/main/Empowering_IOT_CYBER_ATTACKS_USING_MACHINE_LEARNING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# data cleaning and plots
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline

# sklearn: data preprocessing
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder

# sklearn: train model
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score, cross_validate, StratifiedKFold
from sklearn.metrics import precision_recall_curve, precision_score, recall_score, f1_score, accuracy_score
from sklearn.metrics import roc_curve, auc, roc_auc_score, confusion_matrix, classification_report

# sklearn classifiers
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier

In [7]:
initial_data = pd.read_csv('/content/UNSW-NB15_features.csv', encoding='latin1')

In [30]:
# Look at the first 10 rows
initial_data.head(n=10)

   No.    Name    Type                                         Description
0    1   srcip  nominal                                  Source IP address
1    2   sport  integer                                 Source port number
2    3   dstip  nominal                             Destination IP address
3    4  dsport  integer                            Destination port number
4    5   proto  nominal                               Transaction protocol
5    6   state  nominal  Indicates to the state and its dependent proto...
6    7     dur    Float                              Record total duration
7    8  sbytes  Integer           Source to destination transaction bytes
8    9  dbytes  Integer            Destination to source transaction bytes
9   10    sttl  Integer          Source to destination time to live value

In [31]:
# information of the data: 583 data points, 10 features' columns and 1 target column
initial_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   No.          49 non-null     int64
 1   Name         49 non-null     object
 2   Type         49 non-null     object
 3   Description  49 non-null     object
dtypes: int64(1), object(3)
memory usage: 1.7+ KB

In [32]:
# check if there are Null values
initial_data.isnull().sum()

No.            0
Name           0
Type           0
Description    0
dtype: int64

In [33]:
# Discard the rows with missing values
data_to_use = initial_data.dropna()

# Shape of the data: we could see that the number of rows remains the same as no null values were reported
data_to_use.shape

(49, 4)

In [34]:
print(data_to_use.columns)

Index(['No.', 'Name', 'Type ', 'Description'], dtype='object')

In [35]:
data_to_use.columns = data_to_use.columns.str.strip()  # Remove leading/trailing spaces
data_to_use.columns = data_to_use.columns.str.lower()  # Convert to lowercase for consistency

In [29]:
# Calculate Y2 ratio
def data_ratio(y2):
    '''
    Calculate Y2's ratio
    '''
    unique, count = np.unique(y2, return_counts=True)
    ratio = round(count[0]/count[1], 1)
    return f'{ratio}:1 ({count[0]}/{count[1]})'